<ion-content>
  <div class="form-content">
    <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
        <div class="center-content">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h1 text-center>Iniciar sesión</h1>
            <ion-item>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input type="email" formControlName="email" required color="red"></ion-input>
            </ion-item>
            <div *ngFor="let error of validationMessages.email">
              <div class="error">
                <ion-icon name="alert" color="danger"></ion-icon>
                <ion-text color="danger">{{ error }}</ion-text>
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" formControlName="password" required></ion-input>
            </ion-item>
            <div *ngFor="let error of validationMessages.password">
              <div class="error">
                <ion-icon name="alert" color="danger"></ion-icon>
                <ion-text color="danger">{{ error }}</ion-text>
              </div>
            </div>
            <div class="ion-padding">
              <ion-button expand="block" type="submit" class="ion-no-margin">Iniciar sesión
              </ion-button>
              <ion-button expand="block" class="ion-no-margin" color="tertiary" (click)="presentSignUpModal()">Crear
                cuenta</ion-button>
            </div>
          </form>
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>