<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" *ngIf="didStartTracking">
      <ion-button (click)="reset()">
        Limpiar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary" [disabled]="saveButtonIsDisabled()">
        <label for="save-form">Guardar</label>
      </ion-button>
    </ion-buttons>
    <ion-title>Rastrear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rastrear</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" (ngSubmit)="endTracking()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item>
    <input type="submit" id="save-form" hidden>
  </form>

  <div class="container ion-activatable" (click)="saveLocation()">
    <ion-ripple-effect></ion-ripple-effect>
    <p>Distancia desde el último punto: {{distance}}m</p>
    <p>Precisión: {{currentPosition?.precision}}m</p>
  </div>



</ion-content>

<ion-bottom-sheet 
[(state)]="sheetState"  
[minHeight]="sheetMinHeight"
topDistance="20"
hideCloseButton="true"
roundBorderOnTop="true"
shadowBorderOnTop="false"
[title]="getSheetTitle()"
dockedHeight="400"
>
<ion-list>
<ion-card *ngFor="let point of points; let i = index">
  <ion-item>
    <ion-card-header>
      <ion-card-title>Coordenada {{i}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Latitud: {{ point?.latitude }} <br>
      Longitud: {{ point?.longitude }} <br>
      Precisión: {{ point?.precision }}m
    </ion-card-content>
  </ion-item> 
</ion-card>
</ion-list>
</ion-bottom-sheet>