<ion-header>
  <ion-toolbar>
    <ion-title>Cuenta</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="handleEdit()">{{ editButtonTitle }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <!-- Name Field -->
    <ion-item>
      <ion-label position="floating">Nombre y Apellido</ion-label>
      <ion-input type="text" formControlName="name" [readonly]="!isEditEnabled" required>
      </ion-input>
    </ion-item>
    <div *ngFor="let error of validationMessages.name">
      <div class="error">
        <ion-icon name="alert" color="danger"></ion-icon>
        <ion-text color="danger">{{ error }}</ion-text>
      </div>
    </div>

    <!-- Document ID Field -->
    <ion-item>
      <ion-label position="floating">Cédula</ion-label>
      <ion-input type="number" formControlName="documentId" [readonly]="!isEditEnabled" required>
      </ion-input>
    </ion-item>
    <div *ngFor="let error of validationMessages.documentId">
      <div class="error">
        <ion-icon name="alert" color="danger"></ion-icon>
        <ion-text color="danger">{{ error }}</ion-text>
      </div>
    </div>

    <!-- Birthday Field -->
    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" formControlName="birthday" value="1960-03-01"
        [readonly]="!isEditEnabled" required></ion-datetime>
    </ion-item>
    <div *ngFor="let error of validationMessages.birthday">
      <div class="error">
        <ion-icon name="alert" color="danger"></ion-icon>
        <ion-text color="danger">{{ error }}</ion-text>
      </div>
    </div>

    <!-- Phone Field -->
    <ion-item>
      <ion-label position="floating">Número telefónico</ion-label>
      <ion-input type="tel" formControlName="phone" [readonly]="!isEditEnabled" required>
      </ion-input>
    </ion-item>
    <div *ngFor="let error of validationMessages.phone">
      <div class="error">
        <ion-icon name="alert" color="danger"></ion-icon>
        <ion-text color="danger">{{ error }}</ion-text>
      </div>
    </div>

    <!-- Email Field -->
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email" [readonly]="!isEditEnabled" required>
      </ion-input>
    </ion-item>
    <div *ngFor="let error of validationMessages.email">
      <div class="error">
        <ion-icon name="alert" color="danger"></ion-icon>
        <ion-text color="danger">{{ error }}</ion-text>
      </div>
    </div>

    <!-- Password Field -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngFor="let error of validationMessages.password">
      <div class="error">
        <ion-icon name="alert" color="danger"></ion-icon>
        <ion-text color="danger">{{ error }}</ion-text>
      </div>
    </div>

    <!-- Password Validation Field -->
    <ion-item>
      <ion-label position="floating">Comprobar Contraseña</ion-label>
      <ion-input type="password" formControlName="validPassword"></ion-input>
    </ion-item>
    <div *ngFor="let error of validationMessages.validPassword">
      <div class="error">
        <ion-icon name="alert" color="danger"></ion-icon>
        <ion-text color="danger">{{ error }}</ion-text>
      </div>
    </div>

    <!-- Create Account Button -->
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!isEditEnabled">Guardar
      </ion-button>
    </div>
  </form>
  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" color="light" (click)="logOut()">Cerrar sesión
    </ion-button>
  </div>
</ion-content>